.App{
    height: 100vh;
    padding: 0px 100px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}

.books, .autori {
    display: flex;
    gap: 10px;
}

.book, .autore {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
/* .autori {
    display: flex;
    gap: 10px;
}

.autore {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
} */

img{
    width:200px;
    height: 300px;
    object-fit: cover;
    /* background-color: aquamarine; */
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204,204,243);
    color: rgb(139, 139,234);
}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245,191,191);
    color: rgb(242, 100,100);
}

.form{
    display: flex;
    flex-direction: column;
    gap:20px
}

input{
    width:250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton{
    border: none;
    padding: 10px;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-404{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Ombreggiatura */
}

.btn-404:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.4); /* Ombreggiatura più intensa */
    transform: translateY(-4px); /* Effetto di sollevamento */
}
